/*
	Global classes
					*/
body {
background-image: url("images/iphoneOL.jpg");
background-repeat: no-repeat;
font-family: Poppins, sans-serif;
/*background-image: url("logo.jpeg");*/
}

#screen {
height: 530px;
width: 300px;
margin: 105px 23px;
}

.header {
  border-bottom: 1px solid #a09c9c;
}

.head-bar {
color: #77dbf4;
text-align: center;
width: 240px;
margin-left: 1px;
padding-left: 27px;
padding-top: 10px;
height: 45px;
}



.material-icons{
padding-left: 138px;
padding-top: 10px;
font-size: 100px;
width: 75px;
display: flex;
color: #77dbf4;
margin-bottom: -90px;
margin-left: -70px;
margin-right: -50px;
}

.colorchanger{
  background: white;
  width: 15px;
  height:15px;
  /*border-radius: 50%;*/
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1.2px solid #5b5757;
}


.schedule {
margin-top:0px;
margin-bottom:0px;
font-weight: 200;
font-size:15px;
color:  #5b5757;
background-image:linear-gradient(rgba(119, 219, 244, 0.568),rgba(255, 255, 255, 0.753));
width: 299px;
height: 15px;
text-align: center;
}

.events {
margin-top:-5px;
padding-top:-10px;
padding-left: 20px;
font-size:12px;
font-weight:620;
margin-left: 0px;
color: #5b5757;
/*text-decoration: none;*/
}

#e1 {
  margin-top:-5px;
  padding-top:-10px;
  font-size:12px;
  font-weight:620;
  margin-left: 0px;
  color: #5b5757;
  text-decoration: none;
}

#e2 {
  margin-top:-5px;
  padding-top:-10px;
  font-size:12px;
  font-weight:620;
  margin-left: 0px;
  color: #5b5757;
  text-decoration: none;
}

#e3{
  margin-top:-5px;
  padding-top:-10px;
  font-size:12px;
  font-weight:620;
  margin-left: 0px;
  color: #5b5757;
  text-decoration: none;
}

#e4 {
  margin-top:-5px;
  padding-top:-10px;
  font-size:12px;
  font-weight:620;
  margin-left: 0px;
  color: #5b5757;
  text-decoration: none;
}

#e5 {
  margin-top:-5px;
  padding-top:-10px;
  font-size:12px;
  font-weight:620;
  margin-left: 0px;
  color: #5b5757;
  text-decoration: none;
}

.things {
margin-top:-5px;
padding-top:-10px;
padding-left: 20px;
font-size:12px;
font-weight:620;
margin-left: 0px;
color: #5b5757;
text-decoration: none;
}

.dates {
  margin-top:-5px;
  padding-top:-10px;
  padding-left: 20px;
  font-size:12px;
  font-weight:620;
  margin-left: 0px;
  color: #5b5757;
}

.time {
  margin-top:-15px;
  padding-top:-20px;
  padding-left: 20px;
  font-size:8px;
  font-weight:620;
  margin-left: 0px;
  color: #5b5757;

}

.player-arrow {
  padding-top: -10px;
}

.footer-wrapper {
  display: flex;
  width: 298px;
  height: 51px;
  padding-left: -400px;
  text-align:center;
  margin-top:29px;
  margin-left:2px;
  border-top:1px solid #5b5757;
}
.footer-wrapper i{
  height:90%;
  width:100%;
  padding:0px;
  margin:0px;
  font-size:40px;
  padding-top:10px;
  padding-bottom:3px;
}

.footer-wrapper a{
  height:93px;
  padding:0px;
  margin:0px;
  padding-bottom:3px;
}

#firsta:hover {
  background-image:linear-gradient(rgba(119, 219, 244, 0.568),rgba(255, 255, 255, 0.753));
  color: #5b5757;
  height: 23px;
}

#lasta:hover {
  background-image:linear-gradient(rgba(119, 219, 244, 0.568),rgba(255, 255, 255, 0.753));
  color: #5b5757;
  height: 23px;
}


#firsta {
  width:96px;
  margin-left:0px;
  height:23px;
  text-align:center;
}

#seconda {
  width:96px;
  margin-right:0px;
  height:23px;
  padding-left:4px;
  text-align:center;
  background-image:linear-gradient(rgba(119, 219, 244, 0.568),rgba(255, 255, 255, 0.753));
}

#lasta {
  width:96px;
  margin-right:0px;
  height:23px;
  padding-left:4px;
  text-align:center;
}

#vl0 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;
}

#vl1 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;

}

#vl2 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;

}

#vl3 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;

}

#vl4 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;

}

#vl5 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;
}

#vl6 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;
}

#vl7 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;
}

#vl8 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;
}

#vl9 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;
}

#vl10 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;
}

#vl11 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;
}

#vl12 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;
}

#vl13 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;
}

#vl14 {
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	height: 5px;
	width: 12px;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 14px;
}


.rewards{
  font-size: 4px;
  size: 5px;
  text-align: center;
  align-items: center;
  padding-left: 0px;
  padding: 0px 0px 0px 0px;
  padding-top: 25px;
}

.rewards-notes {
  color: grey;
  font-size: 10px;
  text-align: center;

}

.rewards-bar {
	margin-top:0px;
  padding-bottom: 20px;

}
.reward{
    padding: 30px 0px 0px 95px;
    align-items: center;
    padding-left: 0px;
}

button{
  background-color: #77dbf4;
  color: #5b5757;
  padding: 2px 8px;
  /*text-align: center;*/
  text-decoration: none;
  font-size: 10px;
  border-radius: 4px;
  border: 2px solid #77dbf4;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  font-family: Poppins, sans-serif;
}

button:hover {
  background-color: white; /* Green */
  border: 2px solid #77dbf4;
  color: #5b5757;
  cursor:pointer;
}
.wrap {
  height: 45px;
  width: 45px;

}


/*.material-icons{
  width: 75px;
  font-size: 100px;
  display: flex;
  color: #77dbf4;
  margin-bottom: -90px;
  margin-left: -70px;
  margin-right: -50px;
}*/
