body {
background-image: url("images/iphoneOL.jpg");
background-repeat: no-repeat;
font-family: Poppins, sans-serif;
}


#screen {
height: 530px;
width: 300px;
margin: 105px 23px;
}

.head-bar {
text-align: left;
padding-left: 10px;
padding-top: 10px;
text-shadow:1px 1.5px black;
}

.title {
margin-top: 50px;
font-family: Poppins, sans-serif;
color: #77dbf4;
text-align: center;
}

.meeting_info{
  margin-top: 50px;
  width: 200px;
  height: 100px;
  align-content: center;
  padding: 5px 5px 20px 40px;
}
#dropdown{
    display: block;
    color: #5b5757;
    border: 0.25px solid #5b5757;
    border-style: none none solid none;
    height: 30px;
    width: 200px;
}

.meeting_times {
  display: none;
  position: absolute;
}

.meeting_times button {
  color: #5b5757;
  padding: 12px 16px;
  background: white;
  text-decoration: none;
  display: block;
  border-width: 0px .1px .1px .1px;
  border-color: #5b5757;
}

.meeting_times button:hover {background-color:#77dbf4}

.meeting_duration {
  position: relative;
  display: inline-block;
}

.dropdown_button{
  height: 30px;
  width: 200px;
  background-color: white;
  text-align: center;
  align-content: center;
}

.meeting_day{
  display: block;
}
.days_container{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.day{
  width: 28.5px;
  float: left;
  margin: auto;
  align-items: center;
}

.day_text{
  width: 28.5px;
  font-size: 10px;
  font-family: Poppins, sans-serif;
  color: #5b5757;
  padding-left: 5px;
}

.day_button{
  padding-left: 5px;
}

.continue_button{
  background-color: #77dbf4;
  border: none;
  color: #5b5757;
  padding: 8px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 4px;
  margin-right: 10px;

}

.colorchanger{
  background: white;
  width: 15px;
  height:15px;
  margin-bottom: 5px;
  margin-top: 5px;
<<<<<<< HEAD
  border: 1.2px solid black;
=======
  border: 1.2px solid #5b5757;

>>>>>>> d28fc24d3e8c3ba09cbf9ef3ddca916e31f64450
}

.continue_container{
  align-content: center;
  padding-left: 80px;
}

.show {display: block;}
